h1 {
    font-size: 36pt;
    color: #000;
}

h2 {
    font-size: 20pt;
}

body, p {
    font-size: 18pt;
    color: #000;
}

.table {
    display: table;
    width: 100%;
    margin-bottom: 0;
}

.table > * {
    display: table-cell;
    vertical-align: middle;
    float: none;
}

.border {
    background-color: #ed3624;
    width: 100%;
    height: 100%;
}

section > .row {
    padding: 0 40px;
}

#inicio .row {
    background-color: #000000;
}

#inicio .row img {
    padding: 25px 0 25px 40px;
}

#menu.fixed {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
}

#menu .row {
    background-color: #b3b3b3;
}

#menu ul {
    padding: 0 0 0 40px;
}

#menu ul li {
    list-style-type: none;
    float: left;
}

#menu ul li + li {
    padding-left: 40px;
}

#menu ul li a {
    font-size: 22pt;
    line-height: 65px;
    line-height: 5vw;
    color: #000000;
    -webkit-transition: color 0.2s;
            transition: color 0.2s;
}

#menu ul li a:hover {
    color: #444444;
    text-decoration: none;
}

@media screen and (max-width: 480px) {
    #menu .col-md-12 {
        padding: 0;
    }
    
    #menu ul {
        padding: 0;
    }

    #menu ul li {
        width: 100%;
    }

    #menu ul li + li {
        padding: 0;
    }

    #menu ul li a {
        display: block;
        font-size: 20px;
        line-height: normal;
        padding: 5px 0 15px;
        width: 100%;
        text-align: center;
    }
}