#porque {
    display: table;
    width: 100%;
}

#porque .row {
    background-color: #000000;
    padding-right: 0;
}

#porque .col-md-6 {
    height: 285px;
    display: table-cell;
    vertical-align: middle;
    float: none;
    text-align: center;
    width: 42%;
    padding: 0 40px;
}

#porque h1 {
    color: #ffffff;
}

#noticias {
    padding-top: 40px;
    height: 550px;
}

#noticias .floating {
    background-color: rgba(0, 0, 0, 0.7);
    height: 100px;
    position: absolute;
    bottom: -130px;
    width: 100%;
    display: table;
    text-align: left;
    -webkit-transition: bottom 0.4s;
            transition: bottom 0.4s;
}

#noticias .size:hover .floating {
    bottom: 0;
}

#noticias p {
    font-size: 18px;
    text-indent: 20px;
    color: #f5f5f5;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#noticias .title {
    color: #fff;
    line-height: 20px;
    display: table-cell;
    vertical-align: middle;
    text-indent: 15px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#noticias > .row {
    margin: 0 40px;
}

#noticias > .row > .col-md-6 {
    padding: 0;
    position: relative;
    height: 395px;
}

#noticias > .row > .col-md-6 + .col-md-6 {
    padding: 0 0 0 15px;
    margin: -10px 0 0;
}

#noticias .table {
    height: 395px;
}

#noticias .table .col-md-6 {
    width: 42%;
}

#noticias .smaller {
    height: 203px;
    padding: 10px 5px 0;
}

#noticias .smaller > div {
    height: 193px;
    overflow: hidden;
    position: relative;
}

#parallax {
    height: 400px;
}

#parallax .row {
    padding: 0;
}

#parallax .background-image {
    background: transparent url("../parallax.jpg") no-repeat fixed center center / 120% auto;
    height: 400px;
}

#quemfaz .row {
    padding: 0 40px;
    background-color: #e62b1e;
}

#quemfaz > .row > h1 {
    margin: 40px 0 30px;
}

#quemfaz > .row > p {
    margin: 30px 0 40px;
    display: inline-block;
    width: 100%;
}

#equipe {
    padding: 0;
    margin: 0 -15px;
}

#equipe > .col-md-2,
#equipe > .col-lg-2 {
    width: 20%;
}

#programacao {
    /*height: 600px;*/
}

#programacao .row {
    padding: 0;
}

#local p,
#local h1 {
    color: #fff;
}

#local .row {
    padding: 0 40px;
    color: #ffffff;
    background-color: #000000;
}

#tedetedx .row {
    padding: 0 25px;
    background-color: #e62b1e;
}

#tedetedx .col-md-6 p {
    text-align: justify;
    line-height: 1.56;
}

#tedetedx h2 {
    margin: 30px 0 20px;
}

#tedetedx .row .col-md-6 {
    float: left;
}

#apoio {
    max-height: 285px;
}

#apoio .row {
    padding: 0 25px;
}

footer .row {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #000000;
}

footer .row .socials > a {
    padding-right: 0;
}

footer .row .socials a {
}

footer .row .socials a img {
    max-height: 130px;
}

footer p {
    color: #ffffff;
    font-size: 1.4vw;
    margin-bottom: 0;
}


@media screen and (min-width: 800px) {
    #tedetedx .row .col-md-6:nth-child(even) {
        padding-left: 40px;
    }

    #tedetedx .row .col-md-6:nth-child(odd) {
        padding-right: 40px;
    }
}