#porque {
    display: table;
    width: 100%;
}

#porque .row {
    background-color: #000000;
}

#porque .col-md-6 {
    height: 285px;
    display: table-cell;
    vertical-align: middle;
    float: none;
    text-align: center;
    width: 42%;
    padding: 0 40px;
}

#porque h1 {
    color: #ffffff;
}

#noticias {
    padding-top: 40px;
    height: 550px;
}

#noticias > .row {
    margin: 0 40px;
}

#noticias > .row > .col-md-6 {
    padding: 0;
}

#noticias > .row > .col-md-6 + .col-md-6 {
    padding: 0 0 0 15px;
    margin: -10px 0 0;
}

#noticias .table {
    height: 395px;
}

#noticias .table .col-md-6 {
    width: 42%;
}

#noticias .smaller {
    height: 203px;
    padding: 10px 5px 0;
}

#parallax {
    height: 400px;
}

#parallax .row {
    padding: 0;
}

#parallax .background-image {
    background: transparent url("../parallax.jpg") no-repeat fixed center center / 100% auto;
    height: 400px;
}

#quemfaz .row {
    padding: 0 40px;
    background-color: #e62b1e;
}

#quemfaz > .row > h1 {
    margin: 40px 0 30px;
}

#quemfaz > .row > p {
    margin: 30px 0 40px;
    display: inline-block;
    width: 100%;
}

#equipe {
    padding: 0;
    margin: 0 -15px;
}

#equipe > .col-md-2,
#equipe > .col-lg-2 {
    width: 20%;
}

#programacao {
    height: 600px;
}

#local .row {
    padding: 0 40px;
    color: #ffffff;
    background-color: #000000;
}

#tedetedx .row {
    padding: 0 25px;
    background-color: #e62b1e;
}

#tedetedx .col-md-6 p {
    text-align: justify;
}

#apoio {
    max-height: 285px;
}

#apoio .row {
    padding: 0 25px;
}

footer .row {
    margin-top: 30px;
    padding: 15px 40px;
    background-color: #000000;
}

footer .row .socials > a {
    padding-right: 0;
}

footer .row .socials a {
}

footer .row .socials a img {
    max-height: 130px;
}

footer p {
    color: #ffffff;
    font-size: 1.4vw;
    margin-bottom: 0;
}