{% extends "base.html" %}

{% block css %}
<link href="/static/css/home.css" rel="stylesheet">
{% endblock %}

{% block js %}
<script type="text/javascript">
$(function() {
    var menuTopPosition = $('#menu').position().top,
        menuHeight = $('#menu').height();

    $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
                $('html, body').animate({
                   scrollTop: target.offset().top - menuHeight
                }, 1000);
                return false;
            }
        }
    });

    if ($(window.location.hash).length) {
        $('html, body').animate({
           scrollTop: $(window.location.hash).offset().top - menuHeight
        }, 1000);
    }

    var fixScroll = function() {
        if ($(window).width() > 480) {
            if ($(window).scrollTop() >= menuTopPosition) {
                $('#menu').addClass('fixed');
                $('#porque').css('margin-top', menuHeight);
            } else {
                $('#menu').removeClass('fixed');
                $('#porque').css('margin-top', '');
            }
        }
    }

    $(window).scroll(function(e){
        fixScroll();
    });

    fixScroll();

    $('#noticias p').each(function() {
        var width = $(this).parents('.size').width();
        $(this).css('width', width-5);
    });
});
</script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <section id="porque">
        <div class="row">
            <img src="/static/banner_site.jpg" style="width: 100%;">
        </div>
    </section>

    <section id="noticias">
        <div class="row">
            <h1>Not&iacute;cias</h1>
    {% for post in posts %}
        {% if forloop.first %}
                <div class="col-md-6 size" style="overflow: hidden;">
                    {% if post %}
                    <a href="#">
                        {% if post.image %}
                        <img src="{{ post.image.url }}" style="width: 100%;">
                        {% else %}
                        <div class="border"></div>
                        {% endif %}
                        <div class="floating">
                            <div class="title">
                                <h2>{{ post.title }}</h2>
                                <p>{{ post.bodytext }}</p>
                            </div>
                        </div>
                    </a>
                    {% else %}
                        <div class="col-md-6 border"></div>
                        <div class="col-md-6 border"></div>
                    {% endif %}
                </div>
            <div class="col-md-6">
        {% else %}
            <div class="col-md-6 smaller">
                <div class="wrapper size">
            {% if post %}
                    <a href="#">
                        <img src="{{ post.image.url }}" style="width: 100%;">
                        <div class="floating">
                            <div class="title">
                                <h2>{{ post.title }}</h2>
                                <p>{{ post.bodytext }}</p>
                            </div>
                        </div>
                    </a>
            {% else %}
                    <div class="border"></div>
            {% endif %}
                </div>
            </div>
        {% endif %}
    {% endfor %}
            </div>
        </div>
    </section>

    <section id="parallax" class="clearfix">
        <div class="row">
            <div class="background-image"></div>
        </div>
    </section>

    <section id="quemfaz">
        <div class="row">
            <h1>Quem Faz</h1>
            <div class="col-md-12">
                <div class="col-md-10 col-md-offset-1">
                    <img src="/static/foto_equipe.jpg" style="width: 100%;">
                </div>
            </div>
            <p>
                O TedxUnilasalleCanoas é feito por pessoas curiosas, que buscam os porquês das coisas. Sabem que boas ideias compartilhadas podem mudar o mundo.
                <br>Cristian Westphal – Curador
                <br>Taís Oliveira – Gerente de projetos
                <br>Ariel Vargas Alonso – T&eacute;cnico de projetos
                <br>P&acirc;mela Fraga – T&eacute;cnica de projetos
                <br>Gabriela Carvalho – Storyteller designer
            </p>
        </div>
    </section>

    <section id="video">
    </section>

    <section id="programacao">
        <div class="row">
            <h1 style="position: absolute; color: #fff; left: 40px;">Programa&ccedil;&atilde;o</h1>
            <img src="/static/Em breve.jpg" style="width: 100%;">
        </div>
    </section>

    <section id="local">
        <div class="row">
            <div class="col-md-6">
                <h1>Local</h1>
                <dl class="dl-horizontal">
                    <p>Data: S&aacute;bado, 24 de setembro de 2016</p>
                    <p>Local: Unilasalle Canoas; Av. Vitor Barreto, 2288 - Centro, Canoas - RS</p>
                    <p>Credenciamento: 8h</p>
                    <p>Horário: Das 9h às 15h</p>
                </dl>
            </div>
            <div class="col-md-6" style="padding-top: 15px;">
                <iframe width="100%" height="400" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJtxDDYHVwGZURiwpa8yvTZ04&destination=place_id:ChIJ03lOg_9vGZURxVcCiUSktmg&key=AIzaSyCLJ4n2WsnfrO0dSsgpx4pmqy0ar-TZV-w" allowfullscreen></iframe>
                <p>Acesso fácil pela estação Canoas do Trensurb</p>
            </div>
        </div>
    </section>

    <section id="tedetedx">
        <div class="row">
            <div class="col-md-12">
                <h1>TED e TEDx</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>O que &eacute; TED</h2>
                <p>O TED é uma organização sem fins lucrativos, criado em 1984, dedicada a espalhar boas ideias. No TED, grandes pensadores são convidados a falar sobre suas experiências e essas conferências são disponibilizadas no site TED.com</p>
            </div>
            <div class="col-md-6">
                <h2>O que &eacute; TEDx</h2>
                <p>No espírito "vale a pena espalhar ideias", o TEDx é um evento local, auto-organizado, com o intuito de reunir pessoas para partilhar experiências. As conferências buscam provocar uma discussão profunda sobre os temas apresentados.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>TEDxUnilasalleCanoas</h2>
                <p>O TEDxUnilasalleCanoas trata da “Busca dos Porquês”, por que o caminho para o conhecimento sempre começa questionando, por que as coisas são como são?</p>
            </div>
        </div>
    </section>

    <section id="apoio">
        <div class="row">
            <div class="col-md-12">
                <h1>Apoio</h1>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="/static/logo_lasalle.png">
            </div>
        </div>
    </section>

    <footer>
        <div class="row">
            <div class="table">
                <div class="col-md-4">
                    <div class="col-md-9">
                        <img class="img-responsive" src="/static/logo_TEDx.png">
                    </div>
                </div>
                <div class="col-md-4 socials">
                    <a href="mailto:tedxunilasallecanoas@gmail.com" class="col-md-3">
                        <img class="img-responsive" src="/static/social_email.png">
                    </a>
                    <a href="https://pt-br.facebook.com/tedxunilasallecanoas/" class="col-md-3">
                        <img class="img-responsive" src="/static/social_facebook.png">
                    </a>
                    <a href="https://www.instagram.com/tedxunilasallecanoas/" class="col-md-3">
                        <img class="img-responsive" src="/static/social_instagram.png">
                    </a>
                    <a href="https://twitter.com/tedxunilasalle" class="col-md-3">
                        <img class="img-responsive" src="/static/social_twitter.png">
                    </a>
                </div>
                <div class="col-md-4">
                    <p>Este evento não está sendo organizado pelo TED conferences</p>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}